<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="local" connectionString="data source=.\SQLEXPRESS;user=hp_user;password=pine5*Frog;database=HPWD_SQL"/>
		<add name="gis_local" connectionString="data source=.\SQLEXPRESS;user=hp_user;password=pine5*Frog;database=HPWD_GIS"/>
		<add name="debug" connectionString="data source=ec2-107-20-239-73.compute-1.amazonaws.com\SQLEXPRESS,1433;user=hp_user;pwd=pine5*Frog;database=HIGHPLAINSWATERDISTRICT"/>
	</connectionStrings>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
