<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>

	<connectionStrings>

		<add name="local" connectionString="data source=.\SQLEXPRESS;user=hp_user;password=pine5*Frog;database=HPWD_SQL" />
		<add name="gis_local" connectionString="data source=.\SQLEXPRESS;user=hp_user;password=pine5*Frog;database=HPWD_GIS" />
		<add name="debug"
	   connectionString="data source=ec2-107-20-239-73.compute-1.amazonaws.com\SQLEXPRESS,1433;user=hp_user;pwd=pine5*Frog;database=HIGHPLAINSWATERDISTRICT" />
	</connectionStrings>

	<appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="environment" value="local" />
		<add key="smtp_host" value="mail.nts-online.net" />
		<add key="smtp_port" value="25" />
		<add key="smtp_username" value="hpwd@nts-online.net" />
		<add key="smtp_password" value="Hp20!)Wd" />
		<add key="mail_from_address" value="hpwd-auth@hpwd.com" />
		<add key="require_account_confirmation" value="true" />
		<add key="autocompleter_result_limit" value="500" />
		<add key="use_substring_searches" value="true" />
		<add key="AssetsRoot" value="/auth" />
		<add key="is_reporting_deployed" value="true" />		
  </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
	  <rewrite>
		  <rules>
			  <rule name="Rewrite survey assets">
				  <match url="^v(.*?)/assets/(.*?)" />
				  <action type="Rewrite" url="/assets/{R:2}" />
			  </rule>
		  </rules>
	  </rewrite>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
