@{
    ViewBag.Title = "Index";
}

<h2>Administrator Functions</h2>

<ul>
	<li>@Html.ActionLink("Add new user account", "AddUser")</li>
	<li>@Html.ActionLink("Manage user accounts", "ManageAccounts")</li>
	<li>@Html.ActionLink("Manage usage reports", "ManageUsageReports")</li>
</ul>
