@model System.Web.Mvc.HandleErrorInfo

@{
	// This is the general catch-all error page. See the Errors folder for view-specific pages.
	ViewBag.Title = "Error";
}

<h2>
    Sorry, an error occurred while processing your request.
</h2>